/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --text-primary: #3A3A3A;
    --text-white: white;
    --btn-bg-color: #E02C6D;
}

.center{
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 120px 0px;
}

.btn{
    color: var(--text-white);
    font-weight: 700;
    background-color: var(--btn-bg-color);
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid transparent;
}

.btn:hover{
    background-color: #FFF;
    border: 2px solid var(--btn-bg-color);
    color: var(--btn-bg-color);
    cursor: pointer;
}

/* header styles */
/* nav bar styles */
.logo{
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
    gap: 30px;
}

nav > ul li{
    list-style-type: none;
    cursor: pointer;
    color: var(--text-primary);
    font-weight: 600;
}

nav > ul li:hover{
    color: #E02C6D;
}

.cover-page{
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 3.125rem 0 4.375rem;
}

.cover-page-info{
    width: 60%;
}

.cover-page-title{
    color: var(--text-primary);
    font-size: 52px;
    font-weight: 700;
}

.cover-page-description{
    color: var(--text-primary);
    font-weight: 600;
    margin: 16px 0;
}

.cover-image{
    background: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    width: 40%;
}

.cover-image > img{
    transform: scale(.9);
}

/* sponsors styles */
.sponsors{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
    padding: 40px 80px;
}

hr{
    border: 1px solid rgba(128, 128, 128, 0.1);
    margin: 0 20px;
}

/* popular styles */
.popualar{
    margin-top: 6.25rem;
    padding: 0 65px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card{
    border-radius: 5px;
    background: #FFF;
    padding: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card-image{
    width: 100%;
}

.card-title{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    padding: 15px 0 5px;
}

.price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
}

.ratings{
    padding: 5px 0;
}

.fa-star-half, .fa-star{
    color: #FB8200;
}

.rating-numeric{
    color: #5E6366;
    font-weight: 700;
    letter-spacing: 0.1px;
    margin-left: 10px;
}

.card-description{
    color:#787885;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

.collection-title{
    margin-bottom: 3.125rem;
    color: var(--text-primary);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.see-more{
    text-align: end;
    margin-top: 3.125rem;
}

.see-more > a{
    color: var(--btn-bg-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.see-more > a:hover{
    color: #FF005C;
}

/* join styles */
.join{
    display: flex;
    gap: 95px;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    padding: 0 30px;
}

.join-title{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}

.join-description{
    color: #6C6C6C;
    font-weight: 700;
    line-height: 28px;
    padding: 16px 0;
}

.join-image{
    width: 40%;
}

.join-info{
    width: 60%;
}

.join-btn{
    border-radius: 0;
}

/* footer styles */
footer{
    background-color: #0A0826;
    padding: 50px 0;
    text-align: center;
}

.footer-title{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.copyright{
    color:#D9DBE1;
    font-weight: 700;
    line-height: 24px;
    padding: 5px 0 15px;
}

.social-media-icon{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-media-icon a{
    text-decoration: none;
    color: #D9DBE1;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 32px;
    background-color: #22203b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.social-media-icon a:hover{
    color: var(--btn-bg-color);
}


/* responsive styles */
/* mobile responsive */
@media screen and (max-width: 576px) {
    .center{
        padding: 20px 20px 0;
    }

    nav, nav > ul{
        flex-direction: column;
    }

    nav > ul{
        padding-top: 10px;
        align-items: center;
    }

    .cover-page{
        flex-direction: column-reverse;
        gap: 80px;
    }

    .cover-page-info{
        width: 100%;
        text-align: center;
    }

    .cover-page-title{
        font-size: 40px;
    }

    .cover-image{
        width: 100%;
    }

    .cover-image img{
        max-width: 100%;
    }

    /* popular section */
    .popualar{
        padding: 0 20px;
    }

    .cards{
        grid-template-columns: 1fr;
    }

    /* join styles */
    .join{
        flex-direction: column-reverse;
        gap: 50px;
        margin: 100px 0;
        padding: 0 10px;
    }

    .join-image, .join-info{
        width: 100%;
    }

    /* footer */
    .social-media-icon{
        flex-direction: column;
        align-items: center;
    }
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .center{
        padding: 20px 20px 0;
    }

    nav{
        flex-direction: column;
    }

    nav > ul{
        padding-top: 10px;
        align-items: center;
    }

    .cover-page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .cover-page-info{
        width: 100%;
        text-align: center;
    }

    .cover-page-title{
        font-size: 40px;
    }

    .cover-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
    }

    .cover-image img{
        display: inline-block;
        max-width: 100%;
    }
    
    /* popular section */
    .popualar{
        padding: 0px;
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    /* join styles */
    .join{
        flex-direction: column-reverse;
        gap: 50px;
        margin: 100px 0;
        padding: 0 20px;
    }

    .join-image, .join-info{
        width: 100%;
    }
}


/* large device responsive */
@media screen and (min-width: 992px) and (max-width: 1440px) {
    .center{
        padding: 40px 40px 0;
    }

    .cover-page{
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .cover-page-title{
        font-size: 40px;
    }

    .cover-image img{
        display: inline-block;
        max-width: 100%;
    }

    /* popular section */
    .popualar{
        padding: 20px;
    }
    
    /* join styles */
    .join{
        gap: 40px;
        margin: 100px 0;
        padding: 0 20px;
    }
}